.container {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  flex-direction: column;
}

button.styles {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  text-transform: uppercase;
  background-color: #0f5633;
  border: none;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
}
button.styles:hover {
  cursor: pointer;
  background-color: #016827;
}

div.containerQuote {
  padding-top: 3rem;
  max-width: 800px;
  height: auto;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  position: relative;
}
p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: right;
  color: #0f5633;
  margin-top: 2rem;
  text-transform: uppercase;
}
